VITE_MODE=TESTING | PRODUCTION (TESTING ONLY FOR TESTING PURPOSES)
VITE_SUPABASE_PRODUCTION_URL=PRODUCTION URL OF SUPABASE PROJECT
VITE_SUPABASE_PRODUCTION_ANON_KEY=PRODUCTION ANON KEY OF SUPABASE PROJECT
VITE_SUPABASE_TESTING_URL=TESTING URL OF LOCAL SUPABASE (RUN LOCAL SUPABASE)
VITE_SUPABASE_TESTING_ANON_KEY=TESTING ANON KEY OF LOCAL SUPABASE (RUN LOCAL SUPABASE)
